body {
  background-color: black;
}
.homeWrap {
  display: flex;
  justify-content: center;
  width: 100%;
}


h1 {
  display: flex;
  justify-content: center;
  color: white;
  
}

p {
  padding: 5px;
}

.infoBox {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  color: white;
  border: 1px solid orangered;
  width: 60%;
  height: 400px;

}

button {
  width: 25%;
  color: white;
}

button:hover {
  background-color: orangered;
  color: red;
}

.signButton {
  border: 1px solid red;
}
.logButton {
  margin-bottom: 20px;
  border: 1px solid red;
}